/* =========================
   Google Font
========================= */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* =========================
   Warna
========================= */

:root {
  --biru: rgba(55, 186, 255);
  --oranye: rgba(255, 148, 77);
  --hijau-1: rgba(130, 229, 40);
  --hijau-2: rgba(126, 219, 85);
}

/* =========================
   Reset
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #333;
  background: #f8f9fa;
  line-height: 1.7;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* =====================================
   HEADER
===================================== */

#header {
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;

  padding: 20px 0;

  z-index: 9999;

  transition: 0.35s ease;
}

#header::before {
  content: "";

  position: absolute;

  inset: 0;

  background: rgba(255, 255, 255, 0);

  backdrop-filter: blur(0);

  transition: 0.35s;

  z-index: -1;
}

#header .container {
  height: 95px;

  display: flex;

  justify-content: space-between;

  align-items: center;

  transition: 0.35s;
}

/* =====================================
   SCROLLED
===================================== */

#header.scrolled {
  padding: 8px 0;
}

#header.scrolled::before {
  background: rgba(255, 255, 255, 0.96);

  backdrop-filter: blur(20px);

  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.08);
}

#header.scrolled .container {
  height: 72px;
}

/* =====================================
   LOGO
===================================== */

.logo {
  display: flex;

  align-items: center;

  flex-shrink: 0;
}

.logo img {
  height: 5rem;
  width: auto;

  transition:
    opacity 0.2s ease,
    transform 0.35s ease;
}

#header.scrolled .logo img {
  height: 4rem;
}

/* =====================================
   NAVBAR
===================================== */

.navbar {
  height: 100%;

  display: flex;

  align-items: center;
}

.navbar ul {
  display: flex;

  align-items: center;

  gap: 48px;

  list-style: none;
}

.navbar li {
  position: relative;
}

.navbar > ul > li > a {
  display: flex;

  align-items: center;

  gap: 8px;

  height: 95px;

  color: #fff;

  font-weight: 500;

  font-size: 1rem;

  transition: 0.3s;
}

#header.scrolled .navbar > ul > li > a {
  height: 72px;

  color: #222;
}

.navbar > ul > li > a:hover {
  color: var(--hijau-2);
}

.navbar > ul > li > a i {
  font-size: 0.75rem;

  transition: 0.35s;
}

.dropdown:hover > a i {
  transform: rotate(180deg);
}

/* garis hover */

.navbar > ul > li > a::after {
  content: "";

  position: absolute;

  left: 50%;

  bottom: 22px;

  transform: translateX(-50%);

  width: 0;

  height: 2px;

  background: var(--hijau-2);

  transition: 0.3s;
}

.navbar > ul > li:hover > a::after {
  width: 100%;
}

/* hover bridge */

.dropdown::before {
  content: "";

  position: absolute;

  top: 100%;

  left: 0;

  width: 100%;

  height: 30px;
}

/* =====================================
   MEGA MENU
===================================== */

.mega-menu {
  position: absolute;

  top: calc(100% + 25px);

  left: 50%;

  transform: translateX(-50%) translateY(15px);

  width: 620px;

  display: grid;

  grid-template-columns: 220px 1fr;

  background: #fff;

  border-radius: 18px;

  overflow: hidden;

  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.12);

  opacity: 0;

  visibility: hidden;

  transition: 0.35s cubic-bezier(0.22, 0.61, 0.36, 1);

  z-index: 9999;
}

/* muncul */

.dropdown:hover .mega-menu {
  opacity: 1;

  visibility: visible;

  transform: translateX(-50%) translateY(0);
}

/* kiri */

.mega-title {
  background: #f5faf6;

  padding: 42px 32px;

  display: flex;

  align-items: flex-start;

  justify-content: center;

  flex-direction: column;
}

.mega-title h3 {
  font-size: 1.05rem;

  color: var(--hijau-2);

  line-height: 1.2;
}

.mega-title p {
  margin-top: 12px;

  color: #666;

  font-size: 0.9rem;

  line-height: 1.7;
}

/* kanan */

.mega-links {
  padding: 20px 0;
}

.mega-links a {
  display: block;

  padding: 18px 35px;

  transition: 0.28s;
}

.mega-links a:hover {
  background: #f7faf8;

  padding-left: 40px;
}

.mega-links h4 {
  color: #222;

  font-size: 1.05rem;

  margin-bottom: 4px;

  transition: 0.25s;
}

.mega-links p {
  color: #777;

  font-size: 0.86rem;

  line-height: 1.6;
}

.mega-links a:hover h4 {
  color: var(--hijau-2);
}

/* =====================================
   MEGA MENU ANIMATION
===================================== */

.dropdown {
  position: relative;
}

.dropdown > a {
  position: relative;
}

/* Hover Bridge */

.dropdown::after {
  content: "";

  position: absolute;

  left: 0;
  top: 100%;

  width: 100%;
  height: 28px;
}

/* Fade */

.mega-menu {
  transform-origin: top center;
}

.dropdown:hover .mega-menu {
  animation: megaFade 0.35s ease forwards;
}

@keyframes megaFade {
  from {
    opacity: 0;

    transform: translateX(-50%) translateY(15px) scale(0.98);
  }

  to {
    opacity: 1;

    transform: translateX(-50%) translateY(0) scale(1);
  }
}

/* =====================================
   MEGA MENU DIVIDER
===================================== */

.mega-links a {
  position: relative;
}

.mega-links a:not(:last-child)::after {
  content: "";

  position: absolute;

  left: 35px;
  right: 35px;
  bottom: 0;

  height: 1px;

  background: #ececec;
}

/* =====================================
   LINK HOVER
===================================== */

.mega-links h4 {
  transition: 0.25s;
}

.mega-links p {
  transition: 0.25s;
}

.mega-links a:hover h4 {
  transform: translateX(2px);
}

.mega-links a:hover p {
  transform: translateX(2px);

  color: #555;
}

/* =====================================
   ARROW
===================================== */

.mega-links h4 {
  display: flex;

  justify-content: space-between;

  align-items: center;
}

.mega-links span {
  opacity: 0;

  transform: translateX(-8px);

  transition: 0.25s;
}

.mega-links a:hover span {
  opacity: 1;

  transform: translateX(0);
}

/* =====================================
   ARROW
===================================== */

.mega-links h4 {
  display: flex;

  justify-content: space-between;

  align-items: center;
}

.mega-links span {
  opacity: 0;

  transform: translateX(-8px);

  transition: 0.25s;
}

.mega-links a:hover span {
  opacity: 1;

  transform: translateX(0);
}

#header.scrolled .mega-menu {
  top: calc(100% + 18px);
}

@media (max-width: 1100px) {
  .mega-menu {
    width: 460px;

    grid-template-columns: 180px 1fr;
  }
}

@media (max-width: 900px) {
  .navbar {
    display: none;
  }
}

/* =====================================
   RIGHT
===================================== */

.header-right {
  display: flex;
  align-items: center;
  gap: 14px;
}

.lang-btn {
  width: 42px;
  height: 42px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  outline: none;

  border-radius: 50%;

  background: rgba(255, 255, 255, 0.18);

  cursor: pointer;

  backdrop-filter: blur(10px);

  transition: 0.35s ease;
}

.lang-btn:hover {
  background: rgba(255, 255, 255, 0.28);
  transform: scale(1.08);
}

.lang-btn .fi {
  font-size: 1.45rem;
  border-radius: 50%;
  overflow: hidden;
}
/* =====================================
   HEADER SCROLLED
===================================== */

#header.scrolled {
  background: #fff;

  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);

  backdrop-filter: blur(20px);

  padding: 8px 0;
}

#header.scrolled .container {
  height: 72px;
}

#header.scrolled .logo img {
  height: 4rem;
}

#header.scrolled .navbar ul {
  gap: 38px;
}

#header.scrolled .navbar > ul > li > a {
  color: #222;
}

#header.scrolled .navbar > ul > li > a:hover {
  color: var(--hijau-2);
}

#header.scrolled .lang-btn {
  width: 36px;
  height: 36px;

  background: #f3f3f3;

  color: #222;
}

#header.scrolled .dropdown-menu {
  top: calc(100% + 18px);
}

/* =========================
   Hero
========================= */

.hero {
  height: 100vh;

  background:
    linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url("https://images.unsplash.com/photo-1750751907867-138ce6b55776?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

  background-size: cover;

  background-position: center;

  display: flex;

  align-items: center;
}

.hero .container {
  max-width: 700px;
}

.hero h1 {
  color: rgba(255, 255, 255, 1);
  font-size: 54px;
  margin-bottom: 20px;
}

.hero p {
  margin-bottom: 35px;
  color: rgba(255, 255, 255, 1);
}

.btn {
  display: inline-block;

  padding: 14px 35px;

  background: var(--hijau-1);
  color: #fff;

  border-radius: 8px;

  transition: 0.3s;
}

.btn:hover {
  background: var(--hijau-2);
  scale: 0.975;
}

/* =========================
   Section
========================= */

section {
  padding: 90px 0;
}

section h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
}

/* ===================================
   ABOUT
=================================== */

.about {
  padding: 110px 0;

  background: #fff;
}

.about-grid {
  display: grid;

  grid-template-columns: 1.1fr 1fr 1fr;

  gap: 60px;
}

.about-intro h2 {
  font-size: 3rem;

  line-height: 1.2;

  margin-bottom: 30px;
}

.about-intro p {
  color: #555;

  font-size: 1.1rem;

  line-height: 1.9;
}

.about-column {
  display: flex;

  flex-direction: column;
}

.about-item {
  padding-bottom: 35px;

  margin-bottom: 35px;

  border-bottom: 1px solid #ddd;
}

.about-item:last-child {
  border: none;

  margin-bottom: 0;
}

.about-item h3 {
  color: var(--hijau-2);

  margin-bottom: 15px;

  font-size: 1.8rem;
}

.about-item p {
  line-height: 1.8;

  color: #444;
}

/* =====================================
   VISION & MISSION
===================================== */

.vision-mission {
  padding: 120px 0;
  background-color: #fff;
}

/* =========================
   ROW
========================= */

.vision-row,
.mission-row {
  display: grid;

  grid-template-columns: 1fr 1fr;

  min-height: 520px;
}

.mission-row {
  margin-top: 0;
}

/* =========================
   CONTENT
========================= */

.vision-content,
.mission-content {
  display: flex;

  align-items: center;

  justify-content: center;

  padding: 80px;
}

.vision-wrapper,
.mission-wrapper {
  max-width: 520px;

  width: 100%;
}

.vision-content h2,
.mission-content h2 {
  font-size: 3rem;

  margin-bottom: 20px;
}

.line {
  width: 90px;

  height: 5px;

  background: var(--hijau-1);

  border-radius: 999px;

  display: block;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}

.vision-content p,
.mission-content p {
  line-height: 2;

  color: #555;

  font-size: 1.05rem;
}

/* =========================
   IMAGE
========================= */

.vision-image,
.mission-image {
  min-height: 520px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Vision */

.vision-image {
  background: url("https://images.unsplash.com/photo-1592303032319-515be296cb1d?q=80&w=1167&auto=format&fit=crop");

  background-size: cover;
  background-position: center;

  -webkit-mask-image: linear-gradient(
    to right,
    black 0%,
    black 55%,
    rgba(0, 0, 0, 0.9) 70%,
    rgba(0, 0, 0, 0.6) 82%,
    rgba(0, 0, 0, 0.2) 94%,
    transparent 100%
  );

  mask-image: linear-gradient(
    to right,
    black 0%,
    black 55%,
    rgba(0, 0, 0, 0.9) 70%,
    rgba(0, 0, 0, 0.6) 82%,
    rgba(0, 0, 0, 0.2) 94%,
    transparent 100%
  );
}

/* Mission */

.mission-image {
  background: url("https://images.unsplash.com/photo-1441974231531-c6227db76b6e?q=80&w=1200&auto=format&fit=crop");

  background-size: cover;
  background-position: center;

  -webkit-mask-image: linear-gradient(
    to left,
    black 0%,
    black 55%,
    rgba(0, 0, 0, 0.9) 70%,
    rgba(0, 0, 0, 0.6) 82%,
    rgba(0, 0, 0, 0.2) 94%,
    transparent 100%
  );

  mask-image: linear-gradient(
    to left,
    black 0%,
    black 55%,
    rgba(0, 0, 0, 0.9) 70%,
    rgba(0, 0, 0, 0.6) 82%,
    rgba(0, 0, 0, 0.2) 94%,
    transparent 100%
  );
}

/* =========================
   MORE VISION-MISSION
========================= */

.vision-btn {
  display: flex;
  justify-content: center;

  margin-top: 4rem;
  font-size: 1.4rem;
  letter-spacing: 2px;
  font-weight: 600;
}

.vision-btn .btn {
  width: 75%;
  /* max-width: 900px; */

  text-align: center;
}

.vision-btn .btn:hover {
  scale: 0.975;
}

/* =====================================
   PROGRAMS
===================================== */

.programs {
  padding: 120px 0;
}

.programs h2 {
  text-align: center;
  font-size: 3rem;
  /* margin-bottom: 70px; */
}

/* ===========================
   GRID
=========================== */

.program-grid {
  display: flex;

  flex-direction: column;

  gap: 1rem;

  height: 15rem;
}

/* ===========================
   CARD
=========================== */

.program-card {
  position: relative;

  display: block;

  flex: 1;

  overflow: hidden;

  border-radius: 18px;

  cursor: pointer;

  text-decoration: none;

  color: inherit;

  transition: 0.6s cubic-bezier(0.22, 0.61, 0.36, 1);
}

/* ===========================
   IMAGE
=========================== */

.card-image {
  width: 100%;

  height: 100%;

  background-size: cover;

  background-position: center;

  transition:
    transform 0.8s ease,
    filter 0.6s ease;
}

.card-1 .card-image {
  background-image: url("https://images.unsplash.com/photo-1556292990-e4f4a36222e5?q=80&w=1171&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.card-2 .card-image {
  background-image: url("https://images.unsplash.com/photo-1549473889-14f410d83298?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

/* .card-3 .card-image {
  background-image: url("https://images.unsplash.com/photo-1470770841072-f978cf4d019e");
} */

/* ===========================
   DARK OVERLAY
=========================== */

.program-card::after {
  background: linear-gradient(
    rgba(0, 0, 0, 0.12) 0%,

    rgba(0, 0, 0, 0.18) 35%,

    rgba(0, 0, 0, 0.65) 100%
  );

  transition: 0.45s;
}

.program-card:hover::after {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75));
}

/* ===========================
   CONTENT
=========================== */

.program-overlay {
  position: absolute;

  inset: 0;

  display: flex;

  justify-content: center;

  align-items: center;

  flex-direction: column;

  color: #fff;

  z-index: 3;

  pointer-events: none;
}

.program-overlay h3 {
  font-size: 2rem;

  font-weight: 700;

  letter-spacing: 1px;

  transition: 0.35s;

  opacity: 0.85;

  margin: 0;
}

.program-overlay span {
  /* margin-top: 18px; */

  position: absolute;

  font-size: 0.95rem;

  font-weight: 600;

  letter-spacing: 3px;

  text-transform: uppercase;

  opacity: 0;

  transform: translateY(20px);

  transition: 0.35s ease;
}

/* ===========================
   GRID HOVER
=========================== */

.program-grid:hover .program-card {
  flex: 0.8;
}

.program-grid .program-card:hover {
  flex: 2.3;
}

/* .program-card::before {
  content: "";

  position: absolute;

  top: 35px;

  left: 35px;

  width: 50px;

  height: 3px;

  border-radius: 100px;

  background: #fff;

  z-index: 5;

  transition: 0.35s;
} */

/* .program-card:hover::before {
  width: 180px;
} */

/* ===========================
   IMAGE HOVER
=========================== */

.program-card:hover .card-image {
  transform: scale(1.08);

  filter: brightness(0.75);
}

/* ===========================
   TITLE
=========================== */

.program-card:hover h3 {
  opacity: 0;
  /* transform: scale(0.95); */
  transform: translateY(-10px);
}

/* ===========================
   EXPLORE
=========================== */

.program-card:hover span {
  opacity: 1;

  transform: translateY(0) scale(1);
}

/* ===========================
   OTHER CARD
=========================== */

.program-grid:hover .program-card:not(:hover) {
  filter: grayscale(0.25);
}

.program-grid:hover .program-card:not(:hover) .card-image {
  filter: brightness(0.45);
}

/* =========================
   Gallery
========================= */

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.gallery-grid img {
  height: 260px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.3s;
}

.gallery-grid img:hover {
  transform: scale(1.03);
}

/* ======================================
   FOOTER
====================================== */

footer {
  background: #1f1f1f;
  color: #fff;
  margin-top: 100px;
  padding: 5rem 7rem 0rem 7rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

/* ===========================
   LOGO
=========================== */

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center; /* ganti ke flex-start kalau mau rata kiri */
  gap: 1.5rem;
}

.footer-logo img {
  width: 220px;
}

.social-media {
  display: flex;
  gap: 12px;
}

.social-media a {
  width: 42px;
  height: 42px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  background: #343434;
  color: #fff;

  text-decoration: none;

  font-size: 1.15rem;

  transition:
    background 0.3s,
    color 0.3s,
    transform 0.3s;
}

.social-media a:hover {
  background: #57c84d;
  color: #fff;

  transform: translateY(-3px);
}

.social-media a i {
  line-height: 1;
}

/* ===========================
   CONTACT
=========================== */

.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: center; /* atau flex-start */
}

.footer-contact p {
  color: #c4c4c4;
  line-height: 1.8;
  margin-bottom: 18px;
  text-align: center; /* atau justify */
}

.footer-contact .btn {
  margin-top: 10px;
}

/* ===========================
   COPYRIGHT
=========================== */

.copyright {
  text-align: center;

  padding: 2rem;
  margin-top: 3rem;
  margin-bottom: 0;

  border-top: 1px solid rgba(255, 255, 255, 0.08);

  color: #8f8f8f;
  font-size: 14px;
}

/* =====================================
   STICKY SLOGAN
===================================== */

.sticky-slogan {
  position: fixed;

  left: 0;

  bottom: 0;

  width: 100%;

  /* padding: 1rem; */

  height: 4rem;

  display: flex;

  justify-content: center;

  align-items: center;

  background: var(--hijau-1);

  color: #fff;

  z-index: 900;

  transition: 0.2s;

  font-weight: 500;
  font-style: italic;
  letter-spacing: 2px;
}

.sticky-slogan.footer-mode {
  position: absolute;
}
